<?php
define('API_CON_TEST_ONLINE', true);

$slug = "my-service/index.php";
$data = array(
	'client_id' => 'xxxxxxxxxx',
	'client_secret' => 'xxxxxxxxxx',
	'redirect_uri' => 'http://example.com/wp-admin/admin-ajax.php?action=api_con_mngr'
);
$options = array(
    'active_plugins' => array('my-service/index.php'),
    'api-connection-manager' => array(
    	'active' => $slug
    	),
    'API_Con_Mngr_Module' => array(
    	$slug => $data
    ),
);